<% if after.send(method) != before.send(method) %>
  <div class="pl-4">
    <div class="form-group">
      <label class="col-form-label"><%= t("#{locale_namespace(before)}.fields.#{method}.label") %></label>
      <div class="text-muted">

        <% if before.send(method).present? %>
          <% begin %>
            <%= t("#{locale_namespace(before)}.fields.#{method}.options.#{before.send(method)}") %>
          <% rescue I18n::MissingTranslationData => exception %>
            <i>Empty</i>
          <% end %>
        <% else %>
          <i>Empty</i>
        <% end %>

        <span class="activity-arrow"></span>

        <% if after.send(method).present? %>
          <%= t("#{locale_namespace(before)}.fields.#{method}.options.#{after.send(method)}") %>
        <% else %>
          <% begin %>
            <%= t("#{locale_namespace(before)}.fields.#{method}.options.#{after.send(method)}") %>
          <% rescue I18n::MissingTranslationData => exception %>
            <i>Empty</i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
